html {
                display: block;
                margin: 50px;
                text-align: center;
                padding: 0;
            }

            body {
                background-color: rgb(17, 17, 17);
                font-family: Arial, Helvetica, sans-serif;
                margin: 0%;
                scroll-behavior: auto;
                display: block;
                align-content: center;
            }

            h1 {
                color: red;
            }

            h3 {
                color: red;
            }

            p {
                color: red;
            }

            #static {
                padding: 5%;
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }

            /* Hide default HTML checkbox */
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            #powerSwitch:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            input:checked+#powerSwitch {
                background-color: #ff2b2b;
            }

            input:focus+#powerSwitch {
                box-shadow: 0 0 1px #ff2b2b;
            }

            input:checked+#powerSwitch:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            #powerSwitch.round {
                border-radius: 34px;
            }

            #powerSwitch.round:before {
                border-radius: 50%;
            }

            .animButtons {
                background-color: #111111;
                border-radius: 25px;
                width: 75%;
                max-width: 550px;
                height: 50px;
                border-color: #ff2b2b;
                display: inline-flexbox;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: Arial, Helvetica, sans-serif;
                font-size: larger;
                font-variant: bold;
                color: #ffffff;
                transition-duration: 0.4s;
                margin: 0.5rem;
            }

            .animButtons:hover {
                box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24), 0 17px 50px 0 rgba(255, 0, 0, 0.288);
                background-color: #ff2b2b;
            }

            .animButtons:active {
                background-color: #4d0e0e;
                box-shadow: 0 5px #000000;
                transform: translateY(4px);
            }

            #recon {
                display: none;
            }

            #colorpicker {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 3rem;
                height: 3rem;
                /* width: 2rem;
            height: 2rem; */
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            #colorpicker::-webkit-color-swatch {
                border-radius: 10px;
                border: none;
            }

            .slide {
                -webkit-appearance: none;
                /* Override default CSS styles */
                appearance: none;
                width: 75%;
                max-width: 550px;
                height: 15px;
                border-radius: 5px;
                background: #d3d3d3;
                /* Grey background */
                outline: none;
                /* Remove outline */
                opacity: 0.7;
                /* Set transparency (for mouse-over effects on hover) */
                -webkit-transition: .2s;
                /* 0.2 seconds transition on hover */
                transition: opacity .2s;
            }

            .slide:hover {
                opacity: 1;
                /* Fully shown on mouse-over */
            }

            /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
            .slide::-webkit-slider-thumb {
                -webkit-appearance: none;
                /* Override default look */
                height: 35px;
                border-radius: 50%;
                width: 35px;
                /* Set a specific slider handle width */
                /* Slider handle height */
                background: #ff0000;
                /* Green background */
                cursor: pointer;
                /* Cursor on hover */
            }

            .slide::-moz-range-thumb {
                width: 35px;
                /* Set a specific slider handle width */
                height: 35px;
                border-radius: 50%;
                background: #ff0000;
                /* Green background */
                cursor: pointer;
                /* Cursor on hover */
            }
            #battery {
                display: none;
            }
            #sleep{
                display: none;
            }
            .time {
                background-color:rgb(8, 8, 8);
                color:#ffffff;
                width: 100px;
                height: 40px;
                transform: translateX(-5px);
                display: inline-block;
                border-color: white;
                border-radius: 5px;
            }
            #saveTimer {
                background-color: #111111;
                margin: 10px;
                color:#ffffff;
                border-color: #ff0000;
                border-radius: 25px;
                width: 25%;
                height: 30px;
                font-size: medium;
            }